pipeline/OA_DIMAndFactLoad_PL.json
{
	"name": "OA_DIMAndFactLoad_PL",
	"properties": {
		"description": "GL Data from Open Accounts",
		"activities": [
			{
				"name": "LastRunDate_GL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Dim Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CAST(ISNULL([LastRunDateTime], '1900-01-01') AS date) AS LastRunDateTime FROM [System].[Config]  WHERE setting = 'oa_nltrans'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TivoliDW_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load OA Fact GL",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set _LastDateTime_GL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "oa_fact_GeneralLedger_df",
						"type": "DataFlowReference",
						"parameters": {
							"LastRunDate": {
								"value": "'@{variables('_LastRunDateTime_GL')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set _LastDateTime_GL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastRunDate_GL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_LastRunDateTime_GL",
					"value": {
						"value": "@formatDateTime(activity('LastRunDate_GL').output.FirstRow.LastRunDateTime, 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CurrentDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_CurrentDate",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UpdateLastRunDate_GL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load OA Fact GL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[System].[sp_UpdateLastRunDateTime]",
					"storedProcedureParameters": {
						"LastRunDate": {
							"value": {
								"value": "@formatDateTime(string(variables('_CurrentDate')), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Setting": {
							"value": "oa_nltrans",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TiviliDW_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Dim Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CurrentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OA_DimLoad_PL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load OA Fact PT",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set _LastDateTime_PT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "oa_fact_ProjectTransactions_df",
						"type": "DataFlowReference",
						"parameters": {
							"LastRunDate": {
								"value": "'@{variables('_LastRunDateTime_PT')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UpdateLastRunDate_PT",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load OA Fact PT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[System].[sp_UpdateLastRunDateTime]",
					"storedProcedureParameters": {
						"LastRunDate": {
							"value": {
								"value": "@formatDateTime(string(variables('_CurrentDate')), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Setting": {
							"value": "oa_pctrans",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TiviliDW_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LastRunDate_PT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Dim Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CAST(ISNULL([LastRunDateTime], '1900-01-01') AS date) AS LastRunDateTime FROM [System].[Config]  WHERE setting = 'oa_pctrans'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TivoliDW_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set _LastDateTime_PT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastRunDate_PT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_LastRunDateTime_PT",
					"value": {
						"value": "@formatDateTime(activity('LastRunDate_PT').output.FirstRow.LastRunDateTime, 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LastRunDate_PO",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Dim Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CAST(ISNULL([LastRunDateTime], '1900-01-01') AS date) AS LastRunDateTime FROM [System].[Config]  WHERE setting = 'oa_podetail'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TivoliDW_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set _LastDateTime_PO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastRunDate_PO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_LastRunDateTime_PO",
					"value": {
						"value": "@formatDateTime(activity('LastRunDate_PO').output.FirstRow.LastRunDateTime, 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load OA Fact PO",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set _LastDateTime_PO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "oa_fact_PurchaseOrder_df",
						"type": "DataFlowReference",
						"parameters": {
							"LastRunDate": {
								"value": "'@{variables('_LastRunDateTime_PO')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UpdateLastRunDate_PO",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load OA Fact PO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[System].[sp_UpdateLastRunDateTime]",
					"storedProcedureParameters": {
						"LastRunDate": {
							"value": {
								"value": "@formatDateTime(string(variables('_CurrentDate')), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Setting": {
							"value": "oa_podetail",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TiviliDW_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LastRunDate_Tops",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Dim Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CAST(ISNULL([LastRunDateTime], '1900-01-01') AS date) AS LastRunDateTime FROM [System].[Config]  WHERE setting = 'tops_jobs'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TivoliDW_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set _LastDateTime_Tops",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastRunDate_Tops",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_LastRunDateTime_Tops",
					"value": {
						"value": "@formatDateTime(activity('LastRunDate_Tops').output.FirstRow.LastRunDateTime, 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load Tops Fact",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set _LastDateTime_Tops",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "AOM_Jobs_df",
						"type": "DataFlowReference",
						"parameters": {
							"LastRunDate": {
								"value": "'@{variables('_LastRunDateTime_Tops')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "UpdateLastRunDate_Tops",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load Tops Fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[System].[sp_UpdateLastRunDateTime]",
					"storedProcedureParameters": {
						"LastRunDate": {
							"value": {
								"value": "@formatDateTime(string(variables('_CurrentDate')), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Setting": {
							"value": "tops_jobs",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "TiviliDW_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"_LastRunDateTime_GL": {
				"type": "String"
			},
			"_CurrentDate": {
				"type": "String"
			},
			"_LastRunDateTime_PT": {
				"type": "String"
			},
			"_LastRunDateTime_PO": {
				"type": "String"
			},
			"_LastRunDateTime_Tops": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Warehouse Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-11T10:30:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}