TivoliADF/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TivoliADF"
		},
		"TivoliSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "tivoli.database.windows.net"
		},
		"TivoliSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "TivoliAdmin"
		},
		"TivoliSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/posystem_workstages')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Applications2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Workstage",
						"type": "nvarchar"
					},
					{
						"name": "WorkstageDescription",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "POSystem",
					"table": "Workstages"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/projects_staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PowerBI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProjectCode",
						"type": "nvarchar"
					},
					{
						"name": "Customer",
						"type": "nvarchar"
					},
					{
						"name": "CustomerCode",
						"type": "nvarchar"
					},
					{
						"name": "ManagerName",
						"type": "nvarchar"
					},
					{
						"name": "ManagerCode",
						"type": "nvarchar"
					},
					{
						"name": "ManagerEmail",
						"type": "nvarchar"
					},
					{
						"name": "SiteAddress",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Tivoli",
					"table": "tbl_EW_Projects_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/qew_projects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Applications2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProjectCode",
						"type": "nvarchar"
					},
					{
						"name": "Customer",
						"type": "nvarchar"
					},
					{
						"name": "CustomerCode",
						"type": "nvarchar"
					},
					{
						"name": "ManagerName",
						"type": "nvarchar"
					},
					{
						"name": "ManagerCode",
						"type": "nvarchar"
					},
					{
						"name": "SiteAddress",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "ManagerEmail",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "QEW",
					"table": "vw_Projects"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/suppliers_Staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PowerBI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SupplierEmail",
						"type": "nvarchar"
					},
					{
						"name": "SupplierName",
						"type": "nvarchar"
					},
					{
						"name": "SupplierPostcode",
						"type": "nvarchar"
					},
					{
						"name": "SupplierCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Address1",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Tivoli",
					"table": "tbl_Suppliers_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_contract_rates_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SW_Contract_Rates_Upload.csv",
						"container": "tivoli-excel"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sw_ref",
						"type": "String"
					},
					{
						"name": "site",
						"type": "String"
					},
					{
						"name": "task",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_contract_rates_staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliAPI_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sw_ref",
						"type": "varchar"
					},
					{
						"name": "site",
						"type": "varchar"
					},
					{
						"name": "task",
						"type": "varchar"
					},
					{
						"name": "value",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Tivoli",
					"table": "SW_Contract_Rates_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_finance_codes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliAPI_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sw_ref",
						"type": "nvarchar"
					},
					{
						"name": "site",
						"type": "nvarchar"
					},
					{
						"name": "dept_id",
						"type": "nvarchar"
					},
					{
						"name": "dept_desc",
						"type": "nvarchar"
					},
					{
						"name": "sw_region",
						"type": "nvarchar"
					},
					{
						"name": "sw_team",
						"type": "nvarchar"
					},
					{
						"name": "sw_manager",
						"type": "nvarchar"
					},
					{
						"name": "site_phone",
						"type": "nvarchar"
					},
					{
						"name": "function",
						"type": "nvarchar"
					},
					{
						"name": "DateAdded",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateModified",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateDeleted",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "Tivoli",
					"table": "SW_Finance_Codes_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_finance_codes_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SW_Finance_Codes_Upload.csv",
						"container": "tivoli-excel"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sw_ref",
						"type": "String"
					},
					{
						"name": "site",
						"type": "String"
					},
					{
						"name": "dept_id",
						"type": "String"
					},
					{
						"name": "dept_desc",
						"type": "String"
					},
					{
						"name": "sw_region",
						"type": "String"
					},
					{
						"name": "sw_team",
						"type": "String"
					},
					{
						"name": "sw_manager",
						"type": "String"
					},
					{
						"name": "site_phone",
						"type": "String"
					},
					{
						"name": "function",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_site_data_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SW_Site_Data_Upload.csv",
						"container": "tivoli-excel"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sw_ref",
						"type": "String"
					},
					{
						"name": "site",
						"type": "String"
					},
					{
						"name": "team",
						"type": "String"
					},
					{
						"name": "week",
						"type": "String"
					},
					{
						"name": "pcode",
						"type": "String"
					},
					{
						"name": "map",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "town",
						"type": "String"
					},
					{
						"name": "address",
						"type": "String"
					},
					{
						"name": "postcode",
						"type": "String"
					},
					{
						"name": "site_address",
						"type": "String"
					},
					{
						"name": "grid",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "dept_id",
						"type": "String"
					},
					{
						"name": "dept_desc",
						"type": "String"
					},
					{
						"name": "sw_region",
						"type": "String"
					},
					{
						"name": "sw_team",
						"type": "String"
					},
					{
						"name": "site_contact",
						"type": "String"
					},
					{
						"name": "site_phone",
						"type": "String"
					},
					{
						"name": "function",
						"type": "String"
					},
					{
						"name": "grass_m",
						"type": "String"
					},
					{
						"name": "gras_freq",
						"type": "String"
					},
					{
						"name": "hard_m",
						"type": "String"
					},
					{
						"name": "hard_freq",
						"type": "String"
					},
					{
						"name": "rough_m",
						"type": "String"
					},
					{
						"name": "rough_freq",
						"type": "String"
					},
					{
						"name": "invasive_m",
						"type": "String"
					},
					{
						"name": "invasive_freq",
						"type": "String"
					},
					{
						"name": "hedge_m",
						"type": "String"
					},
					{
						"name": "hedge_freq",
						"type": "String"
					},
					{
						"name": "shrub_m",
						"type": "String"
					},
					{
						"name": "shrub_freq",
						"type": "String"
					},
					{
						"name": "risk",
						"type": "String"
					},
					{
						"name": "access",
						"type": "String"
					},
					{
						"name": "comments",
						"type": "String"
					},
					{
						"name": "r_manager",
						"type": "String"
					},
					{
						"name": "a_manager",
						"type": "String"
					},
					{
						"name": "tops_user",
						"type": "String"
					},
					{
						"name": "tos_account",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_site_data_stagng')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliAPI_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sw_ref",
						"type": "varchar"
					},
					{
						"name": "site",
						"type": "varchar"
					},
					{
						"name": "team",
						"type": "varchar"
					},
					{
						"name": "week",
						"type": "varchar"
					},
					{
						"name": "pcode",
						"type": "varchar"
					},
					{
						"name": "map",
						"type": "varchar"
					},
					{
						"name": "location",
						"type": "varchar"
					},
					{
						"name": "town",
						"type": "varchar"
					},
					{
						"name": "address",
						"type": "varchar"
					},
					{
						"name": "postcode",
						"type": "varchar"
					},
					{
						"name": "site_address",
						"type": "varchar"
					},
					{
						"name": "grid",
						"type": "varchar"
					},
					{
						"name": "latitude",
						"type": "varchar"
					},
					{
						"name": "longitude",
						"type": "varchar"
					},
					{
						"name": "dept_id",
						"type": "varchar"
					},
					{
						"name": "dept_desc",
						"type": "varchar"
					},
					{
						"name": "sw_region",
						"type": "varchar"
					},
					{
						"name": "sw_team",
						"type": "varchar"
					},
					{
						"name": "site_contact",
						"type": "varchar"
					},
					{
						"name": "site_phone",
						"type": "varchar"
					},
					{
						"name": "function",
						"type": "varchar"
					},
					{
						"name": "grass_m",
						"type": "decimal",
						"precision": 18,
						"scale": 10
					},
					{
						"name": "gras_freq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "hard_m",
						"type": "decimal",
						"precision": 18,
						"scale": 10
					},
					{
						"name": "hard_freq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "rough_m",
						"type": "decimal",
						"precision": 18,
						"scale": 10
					},
					{
						"name": "rough_freq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "invasive_m",
						"type": "decimal",
						"precision": 18,
						"scale": 10
					},
					{
						"name": "invasive_freq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "hedge_m",
						"type": "decimal",
						"precision": 18,
						"scale": 10
					},
					{
						"name": "hedge_freq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "shrub_m",
						"type": "decimal",
						"precision": 18,
						"scale": 10
					},
					{
						"name": "shrub_freq",
						"type": "int",
						"precision": 10
					},
					{
						"name": "risk",
						"type": "varchar"
					},
					{
						"name": "access",
						"type": "varchar"
					},
					{
						"name": "comments",
						"type": "varchar"
					},
					{
						"name": "r_manager",
						"type": "varchar"
					},
					{
						"name": "a_manager",
						"type": "varchar"
					},
					{
						"name": "tops_user",
						"type": "varchar"
					},
					{
						"name": "tos_account",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Tivoli",
					"table": "SW_Site_Data_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_work_elements_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SW_Work_Elements_Upload.csv",
						"container": "tivoli-excel"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "task_id",
						"type": "String"
					},
					{
						"name": "task",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sw_work_elements_staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliAPI_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "task_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "task",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Tivoli",
					"table": "SW_Work_Elements_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_PipelineRuns')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliAPI_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PipelineName",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "StatusDate",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "RDF",
					"table": "tbl_PipelineRuns"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TivoliSSIS')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "UK South",
						"nodeSize": "Standard_D2_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 1
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('TivoliSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('TivoliSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('TivoliSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "S1"
						},
						"edition": "Standard",
						"licenseType": "BasePrice",
						"packageStores": [
							{
								"name": "TivoliSSISPackages",
								"packageStoreLinkedService": {
									"referenceName": "TivoliSSISLinkedService",
									"type": "LinkedServiceReference"
								}
							}
						]
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyData_SQL_To_CSV_UsingSQLLookup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select distinct subregion from sites.sites where subregion is not null",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Applications",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('select * from sites.sites where subregion = ''',variables('QueryItem'),'''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SQL_Applications",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CSV_Blob_TivoliExcel",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(variables('QueryItem'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "QueryItem",
										"value": {
											"value": "@item().subregion",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"QueryItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Template"
				},
				"annotations": [],
				"lastPublishTime": "2022-02-28T12:13:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyOAProjCodesCmbtoReception')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [POSystem].[OACombinedProjectCodesFromOA]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Reception_OA_ProjectCodesCombined",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Applications_POSystem_OAProjectCodesCombined_FromOA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-07T13:16:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create_Applications_ActiveEmployeesByManager')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_ActiveEmployeesByManager]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table onboarding.activeemployeesbymanager",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Reception",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Applications_ActiveEmployeesByManager",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Employee Data"
				},
				"annotations": [],
				"lastPublishTime": "2022-04-01T07:39:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export_AssetData_To_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_TOPSDatabase_Assets]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Applications",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Blob_TivoliTOPSDatabase",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Assets.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"QueryItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "TOPS Database"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-02T10:06:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export_DepotData_To_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_TOPSDatabase_Depots]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Applications",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Blob_TivoliTOPSDatabase",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Depots.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"QueryItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "TOPS Database"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-02T10:06:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export_EmployeeData_To_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_TOPSDatabase_Employee]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Applications",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Blob_TivoliTOPSDatabase",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Employees.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"QueryItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "TOPS Database"
				},
				"annotations": [],
				"lastPublishTime": "2022-04-14T15:05:48Z"
			},
			"dependsOn": []
		}
	]
}