TivoliADF/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TivoliADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Export_OAMasterData_To_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_TOPSDatabase_OAMaster]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Applications",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Blob_TivoliTOPSDatabase",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "OAMaster.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"QueryItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "TOPS Database"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-02T10:06:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export_SitesData_To_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select distinct subregion from sites.sites where subregion is not null",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Applications",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[USP_TOPSDatabase_Sites]",
											"storedProcedureParameters": {
												"Subregion": {
													"type": "String",
													"value": {
														"value": "@variables('QueryItem')",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SQL_Applications",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "CSV_Blob_TivoliTOPSDatabase",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@concat(replace(variables('QueryItem'),' ',''),'Sites.csv')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "QueryItem",
										"value": {
											"value": "@item().subregion",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"QueryItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "TOPS Database"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-01T16:00:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Export_SupplierData_To_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_TOPSDatabase_Suppliers]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Applications",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CSV_Blob_TivoliTOPSDatabase",
								"type": "DatasetReference",
								"parameters": {
									"Filename": "Suppliers.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"QueryItem": {
						"type": "String"
					}
				},
				"folder": {
					"name": "TOPS Database"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-02T11:49:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Finance_FactLoad_Budget')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Move data from Finance spreadsheet to Staging table",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE Finance.Budget_Staging",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "WorkstageCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "FileName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "PackName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "TabName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "April",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "May",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "June",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "July",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "August",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "September",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "October",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "November",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "December",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "January",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "February",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "March",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "FinancialYear",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_Reception_Budget",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Reception_FactBudget_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Populate Dim and Fact Budget tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Move data from Finance spreadsheet to Staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_FactBudget_Insert]",
							"storedProcedureParameters": {
								"BudgetName": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Data Warehouse Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-11T07:20:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Import_CascadeToAZ_EmployeeData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cascade employee data into Reception",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": true,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 1
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [cascade].employee_staging",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "Employee Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "Firstname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "Surname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "Known As",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "Current Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "Hierarchy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "Work Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "Driver",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "Location",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "Cont  Service Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "Date of Birth",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "Work Phone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "Work Mobile Phone Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "Post Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "Job Title",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "Grade",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "Pay Frequency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "Project Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "Skill Level",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "FTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "Hours",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "Basic Pay",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "Pay Basis",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "Fixed Term Contract End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "Hourly Rate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "Works For",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 32
										},
										"sink": {
											"name": "Left Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 33
										},
										"sink": {
											"name": "Last Working Day",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSV_Cascade_EmployeeData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Reception_Cascade_Employee_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy changes from cascade to onboarding",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Cascade employee data into Reception",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Onboarding].[USP_SyncCascadeEmployeeDataToOnboardingEmployee]"
						},
						"linkedServiceName": {
							"referenceName": "Applications2_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Employee Data"
				},
				"annotations": [],
				"lastPublishTime": "2022-04-20T09:54:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Import_ExcelBlobToAzure_Template')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MachineType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "machinetype",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NoiseLevelDecibels",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "noiseleveldecibles",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BookMagnitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "bookmagnitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WearAndTearAllowance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "wearandtearallowance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActualVibrationMagnitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "actualvibrationmagnitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ExposurePointminsperhour",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "exposurepointminsperhour",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TimeToReachEAV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "timetoreacheav",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TimeToReachELV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "timetoreachelv",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ExposureDurationTWA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "exposuredurationtwa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ExposurePointsDailySingleMachine",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "exposurepointsdailysinglemachine",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_TempSpreadsheet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Applications_TempTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Template"
				},
				"annotations": [],
				"lastPublishTime": "2022-04-19T08:43:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadCDSData_Applications')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_ClearCDSData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[POSystem].[sp_ClearCDSData]"
						},
						"linkedServiceName": {
							"referenceName": "Applications_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "suppliers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierPostcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplierPostcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SupplierCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Address1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "posystem_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "regional_directors",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RegionalDirectorCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegionalDirectorEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegionalDirectorName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegionalDirectorPOLimit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorPOLimit",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 28
										}
									},
									{
										"source": {
											"name": "RegionalDirectorQuoteLimit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorQuoteLimit",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 28
										}
									},
									{
										"source": {
											"name": "RDCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RDCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegionalDirectorRegion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorRegion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_regional_directors",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "posystem_regional_directors",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "project_codes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClientCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClientName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_project_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "posystem_project_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "workstages",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Workstage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Workstage",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WorkstageDescription",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WorkstageDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_workstages",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "posystem_workstages",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "regional_managers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RegionalManagerCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalManagerCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegionalManagerEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalManagerEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegionalManagerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RegionalDirectorCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegionalDirectorRegion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionalDirectorRegion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_regional_managers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "posystem_regional_managers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "managers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AreaCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AreaCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerQuoteLimit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerQuoteLimit",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ManagerRegion",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerRegion",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RMCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RMCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TOPsID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TOPsID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_managers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "posystem_managers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "activity_codes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivityName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivityCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivityType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_activity_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "posystem_activity_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-02T11:49:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadCDSData_Reception')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_ClearCDSData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[POSystem].[sp_ClearCDSData]"
						},
						"linkedServiceName": {
							"referenceName": "Reception",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "project_codes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClientCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClientName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClientName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_project_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Reception_POSystem_ProjectCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "activity_codes",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearCDSData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivityName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivityCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityCategory",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivityType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ActivityType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cds_activity_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Reception_POSystem_ActivityCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-18T11:10:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadFAandEmpData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StageEmployees",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_ClearEmployees_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "payroll",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payroll",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "tops",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tops",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "forename",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "forename",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "surname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "surname",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "lowercase",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lowercase",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "know as",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KnownAs",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "job",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "job",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "work_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "work_type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "base",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "base",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "pcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "p_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "p_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "c_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "c_type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "teaml",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teaml",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "super",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "super",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "manager",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "am_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "am_code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "topsac",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tops_ac",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "operations",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Operations",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "leave",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Leave",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StartDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "leave_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LeaveDate",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "employee_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Reception_Employyees_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_ClearEmployees_Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ClearEmployees_Staging]"
						},
						"linkedServiceName": {
							"referenceName": "Reception",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Merge Employee Data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "StageEmployees",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[TIVOLI].[sp_EmployeeDataRefresh]"
						},
						"linkedServiceName": {
							"referenceName": "Reception",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-28T09:27:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadSWData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sw_contract_rates_staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_CleanupSW_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "task",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "task",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sw_contract_rates_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sw_contract_rates_staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_CleanupSW_Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_CleanUpSW_Staging]"
						},
						"linkedServiceName": {
							"referenceName": "TivoliAPI_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Merge Contract Rates",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sw_contract_rates_staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_Get_SW_Contract_Rates]"
						},
						"linkedServiceName": {
							"referenceName": "TivoliAPI_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sw_finaance_codes_staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_CleanupSW_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "dept_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dept_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "dept_desc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dept_desc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sw_region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_region",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sw_team",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_team",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sw_manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_manager",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "site_phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site_phone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "function",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "function",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sw_finance_codes_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sw_finance_codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Finance Codes",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sw_finaance_codes_staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_Get_SW_Finance_Codes]"
						},
						"linkedServiceName": {
							"referenceName": "TivoliAPI_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sw_site_data_staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_CleanupSW_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "team",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "team",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "week",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "pcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "map",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "map",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "location",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "town",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "town",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "postcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "site_address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site_address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "grid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "grid",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "dept_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dept_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "dept_desc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dept_desc",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sw_region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_region",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sw_team",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_team",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "site_contact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site_contact",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "site_phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site_phone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "function",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "function",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "grass_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "grass_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "gras_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gras_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hard_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hard_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "hard_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hard_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "rough_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rough_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "rough_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rough_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "invasive_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "invasive_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "invasive_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "invasive_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hedge_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hedge_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "hedge_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hedge_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "shrub_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "shrub_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "shrub_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "shrub_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "risk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "risk",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "access",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "access",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "comments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "comments",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "r_manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "r_manager",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "a_manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "a_manager",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "tops_user",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tops_user",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "tos_account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tos_account",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sw_site_data_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sw_site_data_stagng",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Site Data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sw_site_data_staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_Get_SW_Site_Data]"
						},
						"linkedServiceName": {
							"referenceName": "TivoliAPI_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sw_work_elements",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sp_CleanupSW_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "task_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "task_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "task",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "task",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sw_work_elements_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sw_work_elements_staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Work Elements",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sw_work_elements",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_Get_SW_Work_Elements]"
						},
						"linkedServiceName": {
							"referenceName": "TivoliAPI_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-01T11:00:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProccessAOMData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetRunningStatus",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT [Status] FROM [RDF].[tbl_PipelineRuns]  WHERE PipelineName = 'ProcessAOMData'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "tbl_PipelineRuns",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Check Run Status",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetRunningStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity(\n'GetRunningStatus').output.firstRow.Status, 'Complete'\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Wait_false",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "sp_AddTemplateFields",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "StartingPipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[AOM].[sp_AddTemplateFields]"
									},
									"linkedServiceName": {
										"referenceName": "TivoliAPI_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "sp_ProcessValues",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "sp_AddTemplateFields",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[AOM].[sp_ProcessValues]"
									},
									"linkedServiceName": {
										"referenceName": "TivoliAPI_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "StartingPipeline",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[RDF].[sp_PipelineStatus]",
										"storedProcedureParameters": {
											"PipelineName": {
												"value": "ProcessAOMData",
												"type": "String"
											},
											"Status": {
												"value": "Running",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "TivoliAPI_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EndingPipeline",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "sp_ProcessValues",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[RDF].[sp_PipelineStatus]",
										"storedProcedureParameters": {
											"PipelineName": {
												"value": "ProcessAOMData",
												"type": "String"
											},
											"Status": {
												"value": "Complete",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "TivoliAPI_db",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-01T09:11:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QEW Projects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Reseet Prjs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Customer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CustomerCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CustomerCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ManagerName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ManagerCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ManagerEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ManagerEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SiteAddress",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SiteAddress",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ManagerQuoteLimit",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ApprovalLimit",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "qew_projects",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "projects_staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Reseet Prjs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_Clear_EW_Projects_Staging]"
						},
						"linkedServiceName": {
							"referenceName": "PowerBI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Reseet Suplliers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_Clear_Suppliers_staging]"
						},
						"linkedServiceName": {
							"referenceName": "PowerBI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Reseet Suplliers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierPostcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SupplierPostcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SupplierCode",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SupplierCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Address1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "posys_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "suppliers_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Process Suppliers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_Update_Suppliers]"
						},
						"linkedServiceName": {
							"referenceName": "PowerBI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Process Prjs",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Tivoli].[sp_tbl_EW_Projects]"
						},
						"linkedServiceName": {
							"referenceName": "PowerBI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-14T16:12:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SW_DataRefresh')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ContractRates",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sw.sw_contract_rates",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "task",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "task",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 12
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateAdded",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "DateModified",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateModified",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_SW_ContractRates",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Applications_SW_Contract_Rates",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SiteData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sw.sw_site_data",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Site_ref",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "team",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "team",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "week",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "map",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "map",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "location",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "town",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "town",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "address",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "postcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "postcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "site_address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site_address",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "grid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "grid",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dept_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dept_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "dept_desc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dept_desc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site_Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site_phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "function",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "function",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "grass_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "grass_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "gras_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gras_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hard_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hard_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "hard_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hard_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "rough_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rough_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "rough_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rough_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "invasive_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "invasive_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "invasive_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "invasive_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "hedge_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hedge_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "hedge_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hedge_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "shrub_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "shrub_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "shrub_freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "shrub_freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "risk",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "risk",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "access",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "access",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "comments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "comments",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "r_manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "r_manager",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "a_manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "a_manager",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tops_user",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tops_user",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tos_account",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tos_account",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateAdded",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "DateModified",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateModified",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Dep level 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dep Level 3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Dep level 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dep Level 2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Dep level 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dep Level 1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SW_Manager",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SW_Manager",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Contact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SW_Site_Contact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SW_Site_Contact",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LitterLeaf_Freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LitterLeaf_Freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "LitterLeaf_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LitterLeaf_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Trees_Freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Trees_Freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Trees_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Trees_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Gullies_Freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gullies_Freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Gullies_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gullies_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Planters_Freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Planters_Freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Planters_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Planters_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "SiteVisit_Freq",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SiteVisit_Freq",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SiteVisit_m",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SiteVisit_m",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_SW_SiteData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Applications_SW_Site_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FinanceCodes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sw.sw_finance_codes",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sw_ref",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "function",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "function",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DateAdded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateAdded",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "DateModified",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateModified",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Dep Level 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dep Level 3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Dep Level 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dep Level 2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Dep Level 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dep Level 1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel_SW_FinanceCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Applications_SW_Finance_Codes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "SW"
				},
				"annotations": [],
				"lastPublishTime": "2022-04-01T10:47:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SyncReceptionApplicationEmployeedata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from tivoli.employees",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Reception",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Applications_tmpEmployee",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Onboarding].[USP_SyncReceptionApplicationEmployeeData]"
						},
						"linkedServiceName": {
							"referenceName": "Applications2_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send failure email 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Failure Email",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Employee Data"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-22T14:03:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/oa_fact_GeneralLedger_df')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Tivoli Data Warehouse"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Reception_db",
								"type": "DatasetReference"
							},
							"name": "nltrans"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "CostCentre"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "DocumentType"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "TransactionType"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "ActivityCode"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "Customer"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "Supplier"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FactGL",
								"type": "DatasetReference"
							},
							"name": "FactSync"
						}
					],
					"transformations": [
						{
							"name": "CosstCentreLookup"
						},
						{
							"name": "DerivedColumns"
						},
						{
							"name": "Staging"
						},
						{
							"name": "DocTypeLookup"
						},
						{
							"name": "TransactionTypeLookup"
						},
						{
							"name": "AlterRowSettings"
						},
						{
							"name": "ActivityCodeLookup"
						},
						{
							"name": "CustomerLookup"
						},
						{
							"name": "SupplierLookup"
						}
					],
					"scriptLines": [
						"parameters{",
						"     LastRunDate as string (\"2022-05-09 00:00:00\")",
						"}",
						"source(output(",
						"          ID as integer,",
						"          unqkey as string,",
						"          {doc-id} as string,",
						"          docdate as date,",
						"          sourceacc as string,",
						"          sourceref as string,",
						"          orderref as string,",
						"          originref as string,",
						"          description as string,",
						"          baseval as decimal(17,2),",
						"          daybook as boolean,",
						"          currvalue as decimal(17,2),",
						"          qty as decimal(18,3),",
						"          yearno as decimal(15,0),",
						"          period as decimal(15,0),",
						"          batchref as string,",
						"          trtyp as string,",
						"          uuserid as string,",
						"          inputdate as date,",
						"          inputtime as integer,",
						"          stat as string,",
						"          costcentre as string,",
						"          expensecode as string,",
						"          docnumber as integer,",
						"          {vat-code} as string,",
						"          transdate as date,",
						"          {nrv-value} as decimal(17,2),",
						"          secval as decimal(17,2),",
						"          line_no as integer,",
						"          postdate as date,",
						"          qunit as string,",
						"          upuser as string,",
						"          upddate as date,",
						"          updtime as integer,",
						"          UpdatedDateTime as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     inputs:['@LastModifedDate' -> ($LastRunDate)],",
						"     procedureName: 'sp_oa_nltrans_DW',",
						"     schemaName: 'dbo',",
						"     resultSet: true,",
						"     format: 'procedure') ~> nltrans",
						"source(output(",
						"          CostCentreID as integer,",
						"          CostCentre as string,",
						"          FromDate as date,",
						"          ToDate as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [CostCentreID]\\n      ,[CostCentre]\\n      ,[FromDate]\\n      ,[ToDate]\\n       FROM [DW].[DimCostCentre]',",
						"     format: 'query') ~> CostCentre",
						"source(output(",
						"          DocumentTypeID as integer,",
						"          DocID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [DocumentTypeID]\\n      ,[DocID]\\n  FROM [DW].[DimDocumentType]',",
						"     format: 'query') ~> DocumentType",
						"source(output(",
						"          TransactionTypeID as integer,",
						"          trtyp as string,",
						"          LedgerCode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT[TransactionTypeID]\\n      ,[trtyp], [LedgerCode]\\n  FROM [DW].[DimTransactionType]',",
						"     format: 'query') ~> TransactionType",
						"source(output(",
						"          ActivityCodeID as integer,",
						"          ActivityCode as string,",
						"          FromDate as date,",
						"          ToDate as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [ActivityCodeID]\\n      ,[ActivityCode]\\n      ,[FromDate]\\n      ,[ToDate]\\n  FROM [DW].[DimActivityCode]',",
						"     format: 'query') ~> ActivityCode",
						"source(output(",
						"          CustomerID as integer,",
						"          CustomerCode as string,",
						"          FromDate as date,",
						"          ToDate as date,",
						"          LedgerCode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT[CustomerID]\\n      ,[CustomerCode]\\n      ,[FromDate]\\n      ,[ToDate]\\n       ,\\'SL\\' AS [LedgerCode]\\n FROM [DW].[DimCustomer]',",
						"     format: 'query') ~> Customer",
						"source(output(",
						"          SupplierID as integer,",
						"          SupplierCode as string,",
						"          FromDate as date,",
						"          ToDate as date,",
						"          LedgerCode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [SupplierID]\\n      ,[SupplierCode]\\n      ,[FromDate]\\n      ,[ToDate]\\n       ,\\'PL\\' AS [LedgerCode]\\n  FROM [DW].[DimSupplier]',",
						"     format: 'query') ~> Supplier",
						"DocTypeLookup, CostCentre lookup(nltrans@costcentre == CostCentre@CostCentre",
						"     && docdate >= FromDate",
						"     && docdate <= ToDate,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> CosstCentreLookup",
						"SupplierLookup derive(NewCostCentreID = iif(isNull(CostCentreID), -1,CostCentreID),",
						"          NewDocumentID = iif(isNull(DocumentTypeID), -1, DocumentTypeID),",
						"          NewTransactionTypeID = iif(isNull(TransactionTypeID), -1, TransactionTypeID),",
						"          LastModifiedDate = currentUTC('GMT'),",
						"          NewActivityCodeID = iif(isNull(ActivityCodeID), -1, ActivityCodeID),",
						"          DocumentDateID = toInteger(toString(docdate, 'yyyyMMdd')),",
						"          InputDateID = toInteger(toString(inputdate, 'yyyyMMdd')),",
						"          TransactionDateID = toInteger(toString(transdate, 'yyyyMMdd')),",
						"          YearNo = toInteger(yearno),",
						"          Period = toInteger(period)) ~> DerivedColumns",
						"DerivedColumns select(mapColumn(",
						"          unqkey,",
						"          DocumentDateID,",
						"          CostCentreID = NewCostCentreID,",
						"          DocumentTypeID = NewDocumentID,",
						"          TransactionTypeID = NewTransactionTypeID,",
						"          LastModifiedDateTime = LastModifiedDate,",
						"          ActivityCodeID = NewActivityCodeID,",
						"          CustomerID,",
						"          SupplierID,",
						"          SourceReference = sourceref,",
						"          OrderReference = orderref,",
						"          OriginReference = originref,",
						"          Description = description,",
						"          BaseValue = baseval,",
						"          CurrentValue = currvalue,",
						"          Quantity = qty,",
						"          QuantityUnits = qunit,",
						"          YearNo = DerivedColumns@YearNo,",
						"          Period = DerivedColumns@Period,",
						"          BatchReference = batchref,",
						"          InputDateID,",
						"          InputTimeID = inputtime,",
						"          DocumentNumber = docnumber,",
						"          VatCode = {vat-code},",
						"          LineNo = line_no,",
						"          TransactionDateID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Staging",
						"nltrans, DocumentType lookup({doc-id} == DocID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> DocTypeLookup",
						"CosstCentreLookup, TransactionType lookup(nltrans@trtyp == TransactionType@trtyp,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> TransactionTypeLookup",
						"Staging alterRow(upsertIf(true())) ~> AlterRowSettings",
						"TransactionTypeLookup, ActivityCode lookup(expensecode == ActivityCode",
						"     && docdate >= ActivityCode@FromDate",
						"     && docdate <= ActivityCode@ToDate,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> ActivityCodeLookup",
						"ActivityCodeLookup, Customer lookup(sourceacc == CustomerCode",
						"     && docdate >= Customer@FromDate",
						"     && docdate <= Customer@ToDate",
						"     && TransactionType@LedgerCode == Customer@LedgerCode,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> CustomerLookup",
						"CustomerLookup, Supplier lookup(sourceacc == SupplierCode",
						"     && docdate >= Supplier@FromDate",
						"     && docdate <= Supplier@ToDate",
						"     && TransactionType@LedgerCode == Supplier@LedgerCode,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> SupplierLookup",
						"AlterRowSettings sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID as integer,",
						"          unqkey as string,",
						"          BatchReference as string,",
						"          DocumentNumber as integer,",
						"          LineNo as integer,",
						"          CostCentreID as integer,",
						"          DocumentTypeID as integer,",
						"          TransactionTypeID as integer,",
						"          ActivityCodeID as integer,",
						"          TransactionDateID as integer,",
						"          DocumentDateID as integer,",
						"          InputDateID as integer,",
						"          InputTimeID as integer,",
						"          CustomerID as integer,",
						"          SupplierID as integer,",
						"          YearNo as integer,",
						"          Period as integer,",
						"          SourceReference as string,",
						"          OrderReference as string,",
						"          OriginReference as string,",
						"          Description as string,",
						"          BaseValue as decimal(18,2),",
						"          CurrentValue as decimal(18,2),",
						"          Quantity as decimal(18,3),",
						"          QuantityUnits as string,",
						"          VatCode as string,",
						"          LastModifiedDateTime as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['unqkey'],",
						"     format: 'table',",
						"     batchSize: 10000,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          unqkey,",
						"          BatchReference,",
						"          DocumentNumber,",
						"          LineNo,",
						"          CostCentreID,",
						"          DocumentTypeID,",
						"          TransactionTypeID,",
						"          ActivityCodeID,",
						"          TransactionDateID,",
						"          DocumentDateID,",
						"          InputDateID,",
						"          InputTimeID,",
						"          CustomerID,",
						"          SupplierID,",
						"          YearNo,",
						"          Period,",
						"          SourceReference,",
						"          OrderReference,",
						"          OriginReference,",
						"          Description,",
						"          BaseValue,",
						"          CurrentValue,",
						"          Quantity,",
						"          QuantityUnits,",
						"          VatCode,",
						"          LastModifiedDateTime",
						"     )) ~> FactSync"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/oa_fact_ProjectTransactions_df')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Tivoli Data Warehouse"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Reception_db",
								"type": "DatasetReference"
							},
							"name": "pctrans"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "CostCentre"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "DocumentType"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "TransactionType"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "ActivityCode"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "WorkStage"
						},
						{
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference"
							},
							"name": "Project"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FactPT",
								"type": "DatasetReference"
							},
							"name": "FactSync"
						}
					],
					"transformations": [
						{
							"name": "CosstCentreLookup"
						},
						{
							"name": "DerivedColumns"
						},
						{
							"name": "Staging"
						},
						{
							"name": "DocTypeLookup"
						},
						{
							"name": "TransactionTypeLookup"
						},
						{
							"name": "AlterRowSettings"
						},
						{
							"name": "ActivityCodeLookup"
						},
						{
							"name": "WorkStageLookup"
						},
						{
							"name": "ProjectLookup"
						}
					],
					"scriptLines": [
						"parameters{",
						"     LastRunDate as string (\"2022-05-09 00:00:00\")",
						"}",
						"source(output(",
						"          ID as integer,",
						"          {doc-id} as string,",
						"          docnumber as integer,",
						"          line_no as integer,",
						"          docdate as date,",
						"          sourceacc as string,",
						"          description as string,",
						"          baseval as decimal(17,2),",
						"          daybook as boolean,",
						"          currvalue as decimal(17,2),",
						"          qty as decimal(18,3),",
						"          yearno as decimal(15,0),",
						"          period as decimal(15,0),",
						"          batchref as string,",
						"          trtyp as string,",
						"          uuserid as string,",
						"          inputdate as date,",
						"          stat as string,",
						"          project as string,",
						"          panlcode as string,",
						"          del as boolean,",
						"          currency as string,",
						"          secval as decimal(17,2),",
						"          qunit as string,",
						"          workstage as string,",
						"          resource as string,",
						"          unqkey as string,",
						"          costcentre as string,",
						"          expensecode as string,",
						"          upuser as string,",
						"          upddate as date,",
						"          updtime as integer,",
						"          product as string,",
						"          sourceref as string,",
						"          {vat-code} as string,",
						"          UpdatedDateTime as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     inputs:['@LastModifedDate' -> ($LastRunDate)],",
						"     procedureName: 'sp_oa_pctrans_DW',",
						"     schemaName: 'dbo',",
						"     resultSet: true,",
						"     format: 'procedure') ~> pctrans",
						"source(output(",
						"          CostCentreID as integer,",
						"          CostCentre as string,",
						"          FromDate as date,",
						"          ToDate as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [CostCentreID]\\n      ,[CostCentre]\\n      ,[FromDate]\\n      ,[ToDate]\\n       FROM [DW].[DimCostCentre]',",
						"     format: 'query') ~> CostCentre",
						"source(output(",
						"          DocumentTypeID as integer,",
						"          DocID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [DocumentTypeID]\\n      ,[DocID]\\n  FROM [DW].[DimDocumentType]',",
						"     format: 'query') ~> DocumentType",
						"source(output(",
						"          TransactionTypeID as integer,",
						"          trtyp as string,",
						"          LedgerCode as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT[TransactionTypeID]\\n      ,[trtyp], [LedgerCode]\\n  FROM [DW].[DimTransactionType]',",
						"     format: 'query') ~> TransactionType",
						"source(output(",
						"          ActivityCodeID as integer,",
						"          ActivityCode as string,",
						"          FromDate as date,",
						"          ToDate as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [ActivityCodeID]\\n      ,[ActivityCode]\\n      ,[FromDate]\\n      ,[ToDate]\\n  FROM [DW].[DimActivityCode]',",
						"     format: 'query') ~> ActivityCode",
						"source(output(",
						"          WorkStageID as integer,",
						"          WorkStageCode as string,",
						"          FromDate as date,",
						"          ToDate as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [WorkStageID]\\n      ,[WorkStageCode]\\n       ,[FromDate]\\n       ,[ToDate]\\n  FROM [DW].[DimWorkStage]',",
						"     format: 'query') ~> WorkStage",
						"source(output(",
						"          ProjectID as integer,",
						"          ProjectCode as string,",
						"          FromDate as date,",
						"          ToDate as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [ProjectID]\\n      ,[ProjectCode]\\n      ,[FromDate]\\n      ,[ToDate]\\n  FROM [DW].[DimProject]',",
						"     format: 'query') ~> Project",
						"DocTypeLookup, CostCentre lookup(pctrans@costcentre == CostCentre@CostCentre",
						"     && docdate >= FromDate",
						"     && docdate <= ToDate,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> CosstCentreLookup",
						"ProjectLookup derive(NewCostCentreID = iif(isNull(CostCentreID), -1,CostCentreID),",
						"          NewDocumentID = iif(isNull(DocumentTypeID), -1, DocumentTypeID),",
						"          NewTransactionTypeID = iif(isNull(TransactionTypeID), -1, TransactionTypeID),",
						"          LastModifiedDate = currentUTC('GMT'),",
						"          NewActivityCodeID = iif(isNull(ActivityCodeID), -1, ActivityCodeID),",
						"          DocumentDateID = toInteger(toString(docdate, 'yyyyMMdd')),",
						"          InputDateID = toInteger(toString(inputdate, 'yyyyMMdd')),",
						"          YearNo = toInteger(yearno),",
						"          Period = toInteger(period),",
						"          NewWorkStageID = iif(isNull(WorkStageID), -1, WorkStageID),",
						"          NewProjectID = iif(isNull(ProjectID), -1, ProjectID)) ~> DerivedColumns",
						"DerivedColumns select(mapColumn(",
						"          unqkey,",
						"          DocumentDateID,",
						"          CostCentreID = NewCostCentreID,",
						"          DocumentTypeID = NewDocumentID,",
						"          TransactionTypeID = NewTransactionTypeID,",
						"          LastModifiedDateTime = LastModifiedDate,",
						"          ActivityCodeID = NewActivityCodeID,",
						"          SourceReference = sourceref,",
						"          Description = description,",
						"          BaseValue = baseval,",
						"          CurrentValue = currvalue,",
						"          Quantity = qty,",
						"          QuantityUnits = qunit,",
						"          YearNo = DerivedColumns@YearNo,",
						"          Period = DerivedColumns@Period,",
						"          BatchReference = batchref,",
						"          InputDateID,",
						"          DocumentNumber = docnumber,",
						"          VatCode = {vat-code},",
						"          LineNo = line_no,",
						"          ProjectID = NewProjectID,",
						"          WorkStageID = NewWorkStageID,",
						"          Currency = currency,",
						"          Resource = resource,",
						"          unqkey,",
						"          Deleted = del",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Staging",
						"pctrans, DocumentType lookup({doc-id} == DocID,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> DocTypeLookup",
						"CosstCentreLookup, TransactionType lookup(pctrans@trtyp == TransactionType@trtyp,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> TransactionTypeLookup",
						"Staging alterRow(upsertIf(true())) ~> AlterRowSettings",
						"TransactionTypeLookup, ActivityCode lookup(expensecode == ActivityCode",
						"     && docdate >= ActivityCode@FromDate",
						"     && docdate <= ActivityCode@ToDate,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> ActivityCodeLookup",
						"ActivityCodeLookup, WorkStage lookup(workstage == WorkStageCode",
						"     && docdate >= WorkStage@FromDate",
						"     && docdate <= WorkStage@ToDate,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> WorkStageLookup",
						"WorkStageLookup, Project lookup(project == ProjectCode",
						"     && docdate >= Project@FromDate",
						"     && docdate <= Project@ToDate,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'right')~> ProjectLookup",
						"AlterRowSettings sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ID as integer,",
						"          unqkey as string,",
						"          CostCentreID as integer,",
						"          DocumentTypeID as integer,",
						"          TransactionTypeID as integer,",
						"          ActivityCodeID as integer,",
						"          WorkStageID as integer,",
						"          ProjectID as integer,",
						"          DocumentDateID as integer,",
						"          InputDateID as integer,",
						"          BatchReference as string,",
						"          DocumentNumber as integer,",
						"          LineNo as integer,",
						"          YearNo as integer,",
						"          Period as integer,",
						"          SourceReference as string,",
						"          Description as string,",
						"          BaseValue as decimal(18,2),",
						"          CurrentValue as decimal(18,2),",
						"          Quantity as decimal(18,3),",
						"          QuantityUnits as string,",
						"          VatCode as string,",
						"          Resource as string,",
						"          Currency as string,",
						"          Deleted as boolean,",
						"          LastModifiedDateTime as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['unqkey'],",
						"     format: 'table',",
						"     batchSize: 10000,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          unqkey,",
						"          CostCentreID,",
						"          DocumentTypeID,",
						"          TransactionTypeID,",
						"          ActivityCodeID,",
						"          WorkStageID,",
						"          ProjectID,",
						"          DocumentDateID,",
						"          InputDateID,",
						"          BatchReference,",
						"          DocumentNumber,",
						"          LineNo,",
						"          YearNo,",
						"          Period,",
						"          SourceReference,",
						"          Description,",
						"          BaseValue,",
						"          CurrentValue,",
						"          Quantity,",
						"          QuantityUnits,",
						"          VatCode,",
						"          Resource,",
						"          Currency,",
						"          Deleted,",
						"          LastModifiedDateTime",
						"     )) ~> FactSync"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OA_FactLoad_GeneralLedger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "GL Data from Open Accounts",
				"activities": [
					{
						"name": "LastRunDate_GL",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Dim Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CAST(ISNULL([LastRunDateTime], '1900-01-01') AS date) AS LastRunDateTime FROM [System].[Config]  WHERE setting = 'oa_nltrans'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Load OA Fact GL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set _LastDateTime_GL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "oa_fact_GeneralLedger_df",
								"type": "DataFlowReference",
								"parameters": {
									"LastRunDate": {
										"value": "'@{variables('_LastRunDateTime_GL')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"nltrans": {},
									"CostCentre": {},
									"DocumentType": {},
									"TransactionType": {},
									"ActivityCode": {},
									"Customer": {},
									"Supplier": {},
									"FactSync": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Set _LastDateTime_GL",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LastRunDate_GL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "_LastRunDateTime_GL",
							"value": {
								"value": "@formatDateTime(activity('LastRunDate_GL').output.FirstRow.LastRunDateTime, 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CurrentDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "_CurrentDate",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateLastRunDate_GL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load OA Fact GL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[System].[sp_UpdateLastRunDateTime]",
							"storedProcedureParameters": {
								"LastRunDate": {
									"value": {
										"value": "@formatDateTime(string(variables('_CurrentDate')), 'yyyy-MM-dd')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"Setting": {
									"value": "oa_nltrans",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Dim Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CurrentDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "OA_DimLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load OA Fact PT",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set _LastDateTime_PT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "oa_fact_ProjectTransactions_df",
								"type": "DataFlowReference",
								"parameters": {
									"LastRunDate": {
										"value": "'@{variables('_LastRunDateTime_PT')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"pctrans": {},
									"CostCentre": {},
									"DocumentType": {},
									"TransactionType": {},
									"ActivityCode": {},
									"WorkStage": {},
									"Project": {},
									"FactSync": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "UpdateLastRunDate_PT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load OA Fact PT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[System].[sp_UpdateLastRunDateTime]",
							"storedProcedureParameters": {
								"LastRunDate": {
									"value": {
										"value": "@formatDateTime(string(variables('_CurrentDate')), 'yyyy-MM-dd')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"Setting": {
									"value": "oa_pctrans",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LastRunDate_PT",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Dim Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT CAST(ISNULL([LastRunDateTime], '1900-01-01') AS date) AS LastRunDateTime FROM [System].[Config]  WHERE setting = 'oa_pctrans'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TivoliDW_db",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set _LastDateTime_PT",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LastRunDate_PT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "_LastRunDateTime_PT",
							"value": {
								"value": "@formatDateTime(activity('LastRunDate_PT').output.FirstRow.LastRunDateTime, 'yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"_LastRunDateTime_GL": {
						"type": "String"
					},
					"_CurrentDate": {
						"type": "String"
					},
					"_LastRunDateTime_PT": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Data Warehouse Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-11T10:30:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/oa_fact_GeneralLedger_df')]",
				"[concat(variables('factoryId'), '/dataflows/oa_fact_ProjectTransactions_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_TOPSDatabase')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Site data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export_SitesData_To_CSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send error email",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Site data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Depot data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export_DepotData_To_CSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "OA Master data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export_OAMasterData_To_CSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Asset data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export_AssetData_To_CSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Employee data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export_EmployeeData_To_CSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send error email_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "OA Master data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send error email_copy2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Employee data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send error email_copy3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Depot data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send error email_copy5",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Asset data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Suppliers data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Export_SupplierData_To_CSV",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send error email_copy2_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Suppliers data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Error Handler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "TOPS Database"
				},
				"annotations": [],
				"lastPublishTime": "2022-03-02T14:37:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Export_SitesData_To_CSV')]",
				"[concat(variables('factoryId'), '/pipelines/Export_OAMasterData_To_CSV')]",
				"[concat(variables('factoryId'), '/pipelines/Export_SupplierData_To_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/03_00_Daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LoadCDSData_Applications",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "LoadCDSData_Reception",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-02-03T13:35:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								3
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LoadCDSData_Applications')]",
				"[concat(variables('factoryId'), '/pipelines/LoadCDSData_Reception')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 02_00 Stopped')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ProccessAOMData",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-01-08T15:12:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								2
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ProccessAOMData')]"
			]
		}
	]
}