TivoliADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "TivoliADF"
		},
		"Applications2_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Applications2_db'"
		},
		"Applications_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Applications_db'"
		},
		"Ftp_Cascade_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Ftp_Cascade'"
		},
		"PowerBI_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PowerBI'"
		},
		"Reception_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Reception'"
		},
		"TiviliDW_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TiviliDW_db'"
		},
		"TivoliAPI_db_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TivoliAPI_db'"
		},
		"TivoliBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TivoliBlob'"
		},
		"TivoliSSISLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TivoliSSISLinkedService'"
		},
		"Ftp_Cascade_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "www.tivoliservices.com"
		},
		"Ftp_Cascade_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "HRPayroll"
		},
		"TivoliKeys_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://TivoliKeys.vault.azure.net/"
		},
		"WhenFileArrives_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/5697a3d1-2163-4132-b12c-5e365b35ff40/resourceGroups/TivoliData/providers/Microsoft.Storage/storageAccounts/tivoli"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Error Handler')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "1) I need to set up azure functions to send emails. \n2) I will add a table to the database to manage the recipient list.\n3) I need to figure out how to capture the error message.",
				"activities": [
					{
						"name": "Send error email",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://tivolidata-la.azurewebsites.net:443/api/ADF_Email_ErrorHandler/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Zr6IIx6DjKI42wfKN70GXRYDhd2aB1vR-H1Albg86QQ",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@pipeline()?.TriggeredByPipelineName",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "dan.denilofs@tivoliservices.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Utility"
				},
				"annotations": [],
				"lastPublishTime": "2022-02-28T15:42:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Applications2_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Applications2_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Applications_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonRdsForSqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Applications_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ftp_Cascade')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('Ftp_Cascade_properties_typeProperties_host')]",
					"port": "",
					"enableSsl": true,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('Ftp_Cascade_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Ftp_Cascade_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PowerBI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('PowerBI_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Reception')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Reception_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TiviliDW_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('TiviliDW_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TivoliAPI_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('TivoliAPI_db_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TivoliBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('TivoliBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TivoliKeys')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('TivoliKeys_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TivoliSSISLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('TivoliSSISLinkedService_connectionString')]",
					"fileShare": ""
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily 8am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-04-01T08:44:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every 15 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2021-11-14T10:18:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WhenFileArrives')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/tivoli-excel/blobs/FixedAssets",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('WhenFileArrives_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Clean Up Onboarding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "USP_CleanUp_Onboarding",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Onboarding].[USP_CleanUp_Onboarding]"
						},
						"linkedServiceName": {
							"referenceName": "Applications2_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Clean Up"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Applications2_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OA_DimLoad_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DimActivityCode",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimActivityCode_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DimCostCentre",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimCostCentre_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DimCustomer",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimCustomer_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DimProject",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DimCostCentre",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DimCustomer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimProject_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DimSupplier",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimSupplier_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DimWorkStage",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimWorkStage_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ProjectLookups",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DimProject",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Lookups].[sp_ProjectMapping]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DimSite",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ProjectLookups",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimSiteMerge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DimEmployee",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DW].[sp_DimEmployee_Merge]"
						},
						"linkedServiceName": {
							"referenceName": "TiviliDW_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Data Warehouse Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-11T10:30:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TiviliDW_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AOMGroup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TiviliDW_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupReference",
						"type": "nvarchar"
					},
					{
						"name": "GroupCode",
						"type": "nvarchar"
					},
					{
						"name": "GroupName",
						"type": "nvarchar"
					},
					{
						"name": "Deleted",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "DW",
					"table": "DimAOMGroup"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TiviliDW_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Applications_POSystem_OAProjectCodesCombined_FromOA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Applications2_db",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProjCodesCombID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProjectCode",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectShortName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCustomerNumber",
						"type": "nvarchar"
					},
					{
						"name": "CustomerName",
						"type": "nvarchar"
					},
					{
						"name": "workstage",
						"type": "nvarchar"
					},
					{
						"name": "WorkstageName",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCodeName",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCategory",
						"type": "nvarchar"
					},
					{
						"name": "ActivityType",
						"type": "nvarchar"
					},
					{
						"name": "UseInPOSystem",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "POSystem",
					"table": "OACombinedProjectCodesFromOA"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Applications2_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Blob_TivoliExcel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliBlob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string",
						"defaultValue": "Filename"
					}
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"container": "tivoli-excel"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TivoliBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV_Blob_TivoliTOPSDatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TivoliBlob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Filename": {
						"type": "string",
						"defaultValue": "Filename"
					}
				},
				"folder": {
					"name": "CSVs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"container": "tivoli-topsdatabase"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/TivoliBlob')]"
			]
		}
	]
}